
html, body {
    min-height: 100%;
    margin: 0;
}

body {
    position: relative;
    padding-bottom: 6rem;
}

.linha--formata {
    vertical-align: middle!important
}

.elementos--disposicao {
    padding-top: .5em;
    padding-bottom: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape {
    height:60px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    width: 100%;
}

