body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.linha--formata {
    vertical-align: middle!important
}

.elementos--disposicao {
    padding-top: .5em;
    padding-bottom: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
}